{% extends "base.html" %}

{% block content %}
    <h1>Enter Data</h1>
    <form action="/getdata" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=32) }}<br>
        </p>
        <p>
            {{ form.street.label }}<br>
            {{ form.street(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
