<html>
	<head>
		<title>Blue Hacks - Team Alpha</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>	
		<div id="container">
			<div id="header">
				<h1>Blue Hacks - Team Alpha
			</div>
			<div id="content">
				<div id="nav">
					<center>
					<h3>Navigation</h3>
					<center/>
					<ul>
						<li><a class="selected" href="">Home</a></li>
						<br/>
						<li><a href="getdata">Form</a></li>
						<br/>
						<li><a href="my_map">Heat Map</a></li>
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<br/><br/>
				
					</ul>
				</div>
				<div id="main">
				
					<h2>Home Page</h2>
					
				<center>
				<img src="heatmapexample.jpg" width="400" height = "320" alt="My Pic">
				</center>
				<p> PARAGRAPH 1 DFIDJSFOIJDSOFJDSOFJODSJFIODSOFJOIDSJFOJDSOFJDSIOFJDOSJFODSJ </p>
				<P> PARAGRAPH 2 FJDOFJODSAJFOIDJSFOIJSDAOIFJDSOIFIJDOSJFOISDAJFOSIFOJIDSOFJO </p>
				<p> Contact: <br/> alpha@bluehack.com <br/></p>
	
				</div>
			</div>	
			<div id="footer">
				Copyright &copy; 2019 BlueHacks.
			</div>
	</body>
</html>