<html>
	<head>
		<title>Blue Hacks - Team Alpha</title>
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Blue Hacks - Team Alpha
			</div>
			<center>
			<div id="content">
				<div id="nav">
					<center>
					<h3>Navigation</h3>
					<center/>
					<ul>
						<li><a class="selected" href="index.html">Home</a></li>
						<br/>
						<li><a href="{{ url_for('getdata') }}">Form</a></li>
						<br/>
						<li><a href="{{ url_for('heatmap') }}">Heat Map</a></li>
						<br/>
						<li><a href="{{ url_for('resources') }}"> Resources</a></li>
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<br/><br/><br/>

					</ul>
				</div>


				<div id="main">

					<h2>Home Page</h2>


				<img src="/static/heatmap.png" width="400" height = "320" alt="My Pic">

				<p> To File a Report, Click 'form'. </p>
				<P> Please See Crisis Resources if Needed </p>
				<br/>
				<p> Contact: <br/> alpha@bluehack.com <br/></p>

				</div>

			</div>
			<center/>
			<div id="footer">
				Copyright &copy; 2019 BlueHacks.
			</div>
	</body>
</html>
