{% extends "base.html" %}

<html>
	<head>
		<title>
			Home
		</title>
	</head>
	<body>
		<center>
		<h1 style="background-color:Tomato;">
			Team Alpha
		</h1>
		</center>
		<center>
		<h1 style="background-color:DodgerBlue;">
			Blue Hacks
		</h1>
		<center>
		<center>
		<h3>
			Heat Map
		</h3>
		<img src="heatmapexample.jpg" width="100" height = "80" alt="My Pic">
		</center>
		<h5>
			Heat map designed to assist Police Offers with determine trafficking hotspots
		</h5>
		<h3>
			Resources
		</h3>
		<left>
		<h5>
			Resource 1:			
		</h5>
		</left>
		<left>
		<h5>
			Resource 2:			
		</h5>
		</left>
		<left>
		<h5>
			Resource 3:			
		</h5>
		</left>
		<p>
			This is a paragraph tag. This tag is used
			when we write a lot of text on our test web page.
			The paragraph tag automatically inserts a break tag
			at the end.
		</p>
	</body>
</html>