<html>
	<head>
		<title>Blue Hacks - Team Alpha</title>
		<link href="{{ url_for('static', filename='css/resourcestyle.css') }}" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>Blue Hacks - Team Alpha
			</div>
			<center>
			<div id="content">
				<div id="nav">
					<center>
					<h3>Navigation</h3>
					<center/>
					<ul>
						<li><a class="selected" href="{{ url_for('index') }}">Home</a></li>
						<br/>
						<li><a href="{{ url_for('getdata') }}">Form</a></li>
						<br/>
						<li><a href="{{ url_for('heatmap') }}">Heat Map</a></li>
						<br/>
						<li><a href="{{ url_for('resources') }}"> Resources</a></li>
						<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<br/><br/><br/>

					</ul>
				</div>


				<div id="main">

					<h2>Resources</h2>

					<ul>
						<li><a class="selected" href="https://humantraffickinghotline.org/" target="_blank" style="color:Black">Human Traffic Hotline</a></li>

						<li><a href="https://www.unodc.org/unodc/human-trafficking/" target="_blank" style="color:Black">United Nations human trafficking page</a></li>

						<li><a href="https://polarisproject.org/" target="_blank" style="color:Black"> Extra info on fighting trafficking</a></li>
					</ul>

				</div>

			</div>
			<center/>
			<div id="footer">
				Copyright &copy; 2019 BlueHacks.
			</div>
	</body>
</html>
